//*A-1-Polices & Couleurs
@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Megrim&display=swap");

// font-family: 'Megrim', cursive;
//*A-1.1-Param Couleurs
$white: #f3f0f0;
$blue: #84c1ff;
$red: #ff1808;
$orange: #fa9e1e;
//*B-Param projet
//*B-1.1
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	position: relative;
	font-family: "Baumans", cursive;
	color: $white;
	background: url(./media/background.jpg) no-repeat center/cover; //ou center=50% 50% et background-size: cover
}
//*B-1.2
li {
	list-style-position: none;
}
//*B-1.3-a(tdeco)-a:visited(c)-24m24s
a {
	text-decoration: none;
	&:visited {
		color: $white;
	}
}
